:root{
	--backgroundColor: #8158af;
  --mainColor:#9e76ca;
	--secondaryColor:#5a2691;

	--borderColor:#c1c1c1;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;

	--buttonColor:black;

}

html, body{
    background-color: var(--backgroundColor);
	  padding-top: 300;
	  margin: 0 auto;
	  scroll-behavior: smooth;
    padding: 30px 50px 75px;
    font-family: Arial;
}

#profile-picture{
    display: block;
    margin:0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.main-container{
  border: 2px solid rgb(1, 0, 0);
}

.page-content {
  border: 2px solid rgb(1, 0, 0);
  padding: 10px;
  margin: 10px;
}

.home-wrapper{
  display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'left-column right-column'
	;
}

.left-column{
	grid-area: left-column;
	padding-top:50px;
	padding-bottom: 50px;
}

.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}

/* Navbar */

.navbar-container{
    background-color: rgb(10, 12, 14);
}

.navbar-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.navbar-container li {
    float: left;
  }

.navbar-container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar-container li a:hover {
    background-color: rgb(184, 32, 32);
  }

/* Navbar lvl2 */

.navbar-container-2{
    background-color: rgb(31, 39, 46);
}

.navbar-container-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.navbar-container-2 li {
    float: left;
  }

.navbar-container-2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar-container-2 li a:hover {
    background-color: rgb(153, 47, 28);
  }

  /* Main page content */
  
