{% extends 'main/main.html' %}
{% load static %}

{% block content %}
<h1> Blog </h1>
<ul>
    <li>Be able to track or trace a route on a map</li>
    <li>Maps consist of a series of posts</li>
    <li>Be able to share routes with resrictions on each property per user intent</li>
    <li>Incorporate tags</li>
    <li>Post Properties
        <ul>
            <li>Notes</li>
            <li>Local Reccomendations</li>
            <li>Geolocation</li>
            <li>Weather</li>
            <li>Images (Instagram integration)</li>
            <li>Time</li>
        </ul>
    </li>
</ul>
{% endblock content %}